# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Flutter (Frontend)
# Flutter
build/
.dart_tool/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies



# Embedded Python
python/
Lib/
Scripts/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
